<div>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title ml-3">{{details.ProdName}}</h4>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="d-flex flex-column flex-lg-row flex-md-row">
                    <img class="mr-md-3 mr-lg-3 mr-auto ml-auto" style="width: 50%;" src="/media/{{details.ProdImg}}" alt="Responsive image">
                    <div class="d-flex flex-column">
                        <p><strong>Plataforma: </strong>{{details.PlatId}}
                            <p><strong>Género:</strong> {% for gen in details.GenId.all  %}
                                {% if forloop.first %}
                                {{gen.GenNomb}}
                                {% else %}
                                /{{gen.GenNomb}}
                                {% endif %}
                                {% endfor %}</p>

                            <p><strong>Clasificación: </strong>{{details.ProdClasi}}</p>
                          
                            <p class="text-justify"><strong>Descripcion:</strong><br>{{details.ProdDesc}}</p>
                            {% if details.ProdPrev %}
                            <p><strong>Precio reserva:</strong> S/.{{details.ProdCost}}</p>
                            <p><strong>Precio Final:</strong> S/.{{details.PreFinalPrev}}</p>

                            {%else%}
                            <p><strong>Precio reserva:</strong> S/.{{details.ProdCost}}</p>

                            {% endif%}
                            <div class="d-flex align-items-center">
                                <strong>Cantidad:&nbsp;</strong>
                                 <input type="number" class="form-control" style="width: 70px;">
                            </div>
                            <a href="#" class="btn btn-dark mt-5">
                                Add cart &nbsp;
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            </a>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>