<footer class="footer">
    <div class=" py-5 container">
        <div class="row">
            <div class="col-6 col-md col-sm-6 pr-em pl-em">
                <h5>Contacto</h5>
                <ul class="d-flex  list-unstyled text-small">
                    <li class="mr-3"><i class="fab fa-facebook-square " style="font-size: 3em;"></i></li>
                    <li class="mr-3"><i class="fab fa-instagram-square" style="font-size:3em;"></i></li>
                    <li class="mr-3"><i class="fab fa-whatsapp-square" style="font-size: 3em;"></i></li>

                </ul>
            </div>

            <div class="col-6 col-md col-sm-6  pr-em pl-em">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Resource</a></li>
                    <li><a class="text-muted" href="#">Resource name</a></li>
                    <li><a class="text-muted" href="#">Another resource</a></li>
                    <li><a class="text-muted" href="#">Final resource</a></li>
                </ul>
            </div>
            <div class="col-6 col-md col-sm-6  pr-em pl-em">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Team</a></li>
                    <li><a class="text-muted" href="#">Locations</a></li>
                    <li><a class="text-muted" href="#">Privacy</a></li>
                    <li><a class="text-muted" href="#">Terms</a></li>
                </ul>
            </div>
            <div class="col-6 col-md col-sm-6  pr-em pl-em">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Team</a></li>
                    <li><a class="text-muted" href="#">Locations</a></li>
                    <li><a class="text-muted" href="#">Privacy</a></li>
                    <li><a class="text-muted" href="#">Terms</a></li>
                </ul>
            </div>


        </div>

    </div>
    <div class="col-12 text-center">
        <p>&copy; 2015 RapidTables.com</p>


    </div>
</footer>

</body>
{% load static %}

<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/login.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script src="{% static 'js/owl.carousel.min.js'%}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/details.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>

<script src="{% static 'js/carr.js' %}"></script>

</html>